# Dependencies
node_modules
/frontend-app/node_modules
/backend-services/*/node_modules

# Build artifacts
/frontend-app/.next
/frontend-app/out
/frontend-app/next-env.d.ts

# Environment variables
.env
.env.local
**/.env
**/.env.local

# OS files
.DS_Store